*{margin: 0;padding: 0;box-sizing: border-box;list-style: none;text-decoration:none; box-sizing:border-box;font-family: poppins;}
.banner{
    background: #161616;
    width: 80%;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-radius: 10px;
    color: #fff;
}
.item{
   flex-basis: 49%;
   /* background: red; */
}
.item .item-content {
   padding-left: 50px;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}
.item .item-content h1{
    
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
}
.item .item-content p{
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    margin: 16px 0 25px;
    padding-right: 79px;
}
.item .item-content a{
    background:#DD0000;
    font-family: 'Inter', sans-serif;
    padding: 12px 20px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    border-radius: 5px;
     color: #fff;
}
.item .item-content a i{
    font-size: 15px;
}

.item .item-img img{
   width: 80%;
   position: relative;
   margin-bottom: -7px;
   margin-left:30px;
}

/* content-section */
.content{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% repeat(1,78%);
    grid-column-gap: 24px;
    grid-column-gap: 30px;
    padding: 60px 0;
}
.box-content {
    background: #161616;
    border-radius: 10px;
    padding: 8px 15px;
}
.box-content a{
  display: block;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  background: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin: 22px 0;
}
.active{
    background: #DD0000 !important;
    color: #fff !important;
}
.box.right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.blog{
    box-shadow: 0 0 1px 0;
    border-radius: 10px;
    padding-bottom: 10px;
}
.blog-image img{
    width: 100%;
    margin-bottom: 12px;
}
.blog-content{
    padding: 0 10px;
}
.blog-content .btn{
    color: #161616;
    border:1px solid #161616;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 5px;
    display: inline-block;
}
.blog-content h4{
    font-size: 16px;
    margin: 15px 0 18px;
}
.blog-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.footer-left, .footer-right{
 display: flex;align-items: center;
}
.footer-left img, .footer-right img{
    width: 18px;
    margin-right: 8px;
}
.btn-red{
    display: none;
}

/* footer-section */
footer{
    width: 100%;
    margin: 0 auto;
    background: #161616;
    padding: 90px 160px;
}
footer h1{
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
}
footer .menu{
    text-align: center;
    margin: 30px 0 0 0 ;
}
footer .menu a{
          color: #B9B9B9;
          padding: 10px;
          margin: 10px;
}
.social-icon {
    text-align: center;
    margin-top: 28px;
}
.social-icon a {
    font-size: 20px;
    color: #bbb3b3;
    margin: 0 20px;
}
/* code for upcoming-match pages */
.match{
    box-shadow: 0 0 1px 0;
    text-align: center;
    padding: 50px 0 ;
    border-radius: 10px;
}
.match-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-content span{
     margin: 15px;
     font-weight: 700;
}
.match-footer span{
    color: gray;
}



/* --------------
 media query for tablet
-------------- */
@media screen and (max-width: 990px) {
    .item .item-content h1 {
        font-size: 37px;
        line-height: 44px;
    }
    .item .item-content p {
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
        padding: unset;
    }
    .item .item-img img {
        width: 100%;
        margin-left: 0;
    }
    /* content-section */
    .content {
        width: 80%;
        grid-template-columns: 100%;
        grid-row-gap: 30px;
    }
    .box-content {
        background: #fff;
        padding: unset;
    }
    .box-content a {
        display: inline-block;
        width: 32%;
        margin-left: 2px;
        margin-right: 3px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
    }
    .box.right {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-red{
        margin: 0 auto;
        display: inline-block;
    }
    .btn-red a{
        background: #DD0000;
        color: #fff !important;
        padding: 8px 22px;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 16%) 0px 0px 4px;
        display: block;
        margin-top: 20px;
    }
    footer .menu a {
        color: #B9B9B9;
        padding: 10px;
        margin: 5px 7px;
        display: inline-block;
    }
}
/* -------------
media query for mobile
--------- */
@media only screen and (max-width: 767px) {
 .banner{
    flex-direction: column;
    padding: 30px 0 0 !important;
 }
 .banner, .content{
    width: 90%;
    padding: 10px 0 30px;
 }
 .item .item-content {
    text-align: center;
    padding: 15px 30px;
    position: relative;
    transform: unset;
}
.item .item-content h1{
    font-size: 30px;
    line-height: 38px;
}
.item .item-img{
    text-align: center;
    margin-top: 15px;
}
.item .item-img img {
    margin-left: 26px;
    width: 78%;
}
.box-content a {
    display: block;
    width: 100%;
}
.box.right {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap : 25px;
}
.btn-red{
    display: none;
}
/* footer-section */
footer{
    padding: 30px 0 10px 0;
}
footer h1 {
    padding-bottom: 22px;
}
footer .menu a{
    display: block;
}
footer .menu a:last-child{
    margin-bottom: 0;
}
}